* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}
body {
    background: #f9f9f9;
}
main {
    margin-top: 50px;
    margin-bottom: 15px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    background: url('Ronit.png') top;
    background-size: cover;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

.card .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000af;
    bottom: -350px;
    transition: .4s;
}

.card:hover .cover {
    bottom: 0;
}

.card h1 {
    color: #f0f0f0;
    transition-delay: .6s;
}

.card p {
    color: #c5c5c5;
    font-style: italic;
    font-weight: 600;
    transition-delay: .8s;
}

.card hr {
    width: 70%;
    border-radius: 50%;
    margin: 0 auto;
    transition-delay: 1s;
}

.card .icons {
    transition-delay: 1.2s;
}

.card .icons i {
    cursor: pointer;
    color: #c5c5c5;
    font-size: 24px;
    margin: 0 8px;
    transition: all .4s;
}

.card .icons i:hover {
    color: #ffd000;
}

.card h1,
.card p,
.card hr,
.card .icons {
    opacity: 0;
    transform: translateY(260px);
    transition-duration: .4s;
}

.card:hover h1,
.card:hover p {
    opacity: 1;
    transform: translateY(115px);
}

.card:hover hr {
    opacity: 1;
    transform: translateY(135px);
}

.card:hover .icons {
    opacity: 1;
    transform: translateY(160px);
}

/* .Welcome Notification */

.notification {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    font-family: gilroy;
    max-width: 250px;
    padding: 25px 15px;
    border-radius: 4px;
    background-color: #141619;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade 4s linear forwards;
}

.progress {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #529bdb, #3250bf);
    border-radius: 4px;
    animation: progress 3s .25s linear forwards;
}

@keyframes fade {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }

    90% {
        opacity: 1;
        transform: translateY(0px);
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

@keyframes progress {
    to {
        width: calc(100% - 10px);
    }
}

/* Name & profession */

.name {
    text-align: center;
}